
.scene {
    width: 200px;
    height: 200px;
    margin: 1rem;
    perspective: 600px;

  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    border: 1px solid #dadada;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
  }
  .card:hover{
    box-shadow: 0 0 0 1px rgb(0 0 0 / 30%);
    background: #f5f5f5;
  }
  .card.highLight{
    box-shadow: 0px 0px 3px;
  }
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(8, 8, 8);
    text-align: center;
    backface-visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
  }
  
  /* .card__face--front {
    background: red;
  } */
  
  .card__face--back {
    /* background: blue; */
    transform: rotateY(180deg);
  }
  .header{
   font-weight: bold;
   text-align: left;
   color: #556b82;
   font-size: .875rem;
  }
  .subheader{

  }
  